<footer>
    <div class="footerinfo">
        <div class="f-info-socials">
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-square-facebook"></i>
        </div>
        <div class="f-info-brand">&copy; TravelBuzz Private Limited</div>
        <div class="f-info-links">
            <a href="/text/privacy.txt">Privacy</a>
            <a href="/text/terms.txt">Terms</a>
        </div>
    </div>
</footer>